asgiref @ file:///home/conda/feedstock_root/build_artifacts/asgiref_1617745359837/work
backcall==0.2.0
certifi==2020.12.5
colorama==0.4.4
Cython==0.29.23
decorator==4.4.2
Django @ file:///home/conda/feedstock_root/build_artifacts/django_1617829946528/work
ipykernel==5.5.0
ipython==7.21.0
ipython-genutils==0.2.0
jedi==0.18.0
joblib==1.0.1
jupyter-client==6.1.12
jupyter-core==4.7.1
numpy==1.20.2
parso==0.8.1
pickleshare==0.7.5
prompt-toolkit==3.0.18
Pygments==2.8.1
python-dateutil==2.8.1
pytz @ file:///home/conda/feedstock_root/build_artifacts/pytz_1612179539967/work
pywin32==300
pyzmq==22.0.3
scikit-learn==0.22.2.post1
scipy==1.6.3
six==1.15.0
sqlparse @ file:///home/conda/feedstock_root/build_artifacts/sqlparse_1602142927465/work
tornado==6.1
traitlets==5.0.5
typing-extensions @ file:///home/conda/feedstock_root/build_artifacts/typing_extensions_1602702424206/work
wcwidth==0.2.5
wincertstore==0.2
